.custom-notification {
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: opacity 0.5s ease;
}

.custom-notification.hide {
  opacity: 100;
}
/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Dark background */
    color: #000000; /* Light text */
  }
  
  .popup-container {
    width: 320px; /* Slightly wider for a modern look */
    padding: 25px;
    background-color: #ffffff; /* Dark grey container background */
    border-radius: 10px; /* Smooth rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Deeper shadow for depth */
    text-align: center;
  }
  
  .logo {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 20px; /* Space between logo and content */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: 20px; /* Slightly larger font size */
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    color: #000000; /* Light grey for secondary text */
  }
  
 